#JoinUs{
  background: linear-gradient(to right, #021B2A,#000000, #021B2A);
}


.form-container {
  max-width: 500px;
  margin: 130px auto;
  padding: 30px;
  background: linear-gradient(to right, #000000, #021B2A, #000000);
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(255,255,255,0.4);
  text-align: center;
}

.form-container h1 {
  margin-bottom: 10px;
}

.club-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.club-form input,
.club-form select {
  padding: 12px;
  border-radius: 8px;
  border: none;
  outline: none;
}

.club-form button {
  padding: 14px;
  background: #00bfff;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s;
}

.club-form button:hover {
  transform: scale(1.05);
}

.form-status {
  margin-top: 15px;
  font-weight: bold;
}
